{% extends "bootstrap/base.html" %}
{% block title %}超市会员卡管理后台{% endblock %}
{% block head %}
    {{super()}}
    <link href="{{url_for('static',filename='manage.css')}}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block navbar %}
<div id="kk" class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/manage/home">主页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/manage/user">用户信息</a></li>
                <li><a href="/manage/card">会员卡信息</a></li>
                <li><a href="/manage/score">积分信息</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div>
    <div id="div_back">
        <img src="{{url_for('static',filename='home.jpg')}}" alt="some_text">
        <div id="back"></div>
         <table id="mytable" border="1">
                 <tr id="table_title">
                    <td> 卡片ID号</td>
                    <td> 变更时间</td>
                    <td> 变更积分 </td>
                </tr>
            {% for item in scores %}
                <tr>
                    <td> {{item.card_id}} </td>
                    <td> {{item.change_time}} </td>
                    <td> {{item.score_change}} </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<div id="kk" class="navbar navbar-inverse" role="navigation">
    <div class="container">
            <p id="p">Copyright©2016 hadnone.com.Tan77-QinY-ZHK. All Rights Reserved. </p>
        <div class="navbar-collapse collapse">
        </div>
    </div>
</div>
{% endblock %}